########################################
# Guppy Screen Update
########################################

[gcode_shell_command guppy_update]
command: sh /usr/data/guppyscreen/guppy-update.sh
timeout: 600.0
verbose: True


[gcode_macro GUPPY_UPDATE]
description: Check for Guppy Screen Updates
gcode:
  {% if printer.idle_timeout.state == "Printing" %}
    RESPOND TYPE=error MSG="It's not possible to update Guppy Screen while printing!"
  {% else %}
    RUN_SHELL_COMMAND CMD=guppy_update
  {% endif %}


[gcode_macro INPUT_SHAPER_CALIBRATION]
description: Measure X and Y Axis Resonances and Save values
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    RESPOND MSG="Homing"
    G28
  {% endif %}
  RESPOND MSG="Mesuring Y Resonances"
  SHAPER_CALIBRATE AXIS=Y
  M400
  RESPOND MSG="Mesuring X Resonances"
  SHAPER_CALIBRATE AXIS=X
  M400
  SAVE_CONFIG